@model MVC.MV.Models.PersonViewModel

@using (Html.BeginForm("Create", "People")) {
    @Html.AntiForgeryToken()   
    
    <h4>Add new person</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Person.Name)
        @Html.EditorFor(model => model.Person.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Person.Name, "", new { @class = "text-danger" })
            
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Person.Phonenumber)
        @Html.EditorFor(model => model.Person.Phonenumber,  new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Person.Phonenumber, "")            
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Person.City)
        @Html.EditorFor(model => model.Person.City,  new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Person.City, "")            
    </div>
    <input type="submit" value="Save" class="btn btn-primary" />    
}
